.shopGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-auto-flow: column; 
    gap: 1.5rem;
    margin: 1rem 3rem;
    margin-top: 0rem;
    padding-top: 0.6rem; 
    padding-left: 0.5rem;
    padding-bottom: 0.7rem;
    overflow: auto;
}

.card {
    border: 1.5px solid var(--text-color);
    border-radius: 10px;
    padding: 0px;
    background-color: var(--primary-color);
    transition: all 0.3s;
    min-width: 18rem;
    gap: 0.2rem;
}

.card:hover {
      box-shadow: 10px 10px var(--secondary-color), 10px 10px 0px 1.5px var(--text-color);
}

.price {
    color: var(--secondary-color);
}

.card > img {
    border-radius: 7px 7px 0px 0px;
    border-bottom: 1.5px solid var(--text-color);
}

.sneakerCardInfo {
    padding: 0.5rem;
    padding-top: 0px;
}

p.price::first-letter {
    transform: scale(1.2);
}

.shoeImg {
    max-width: 45vw;
    border: 1.5px solid var(--text-color);
    transform: translateY(0.5rem);
}

.shoe {
    margin: 2rem;
    align-items: flex-start;
}

.shoeCardInfo {
    padding: 0px;
    align-items: start;
}

.addToCart {align-items: stretch;}

.shoeInfo {align-items: flex-start;}

.shoeSize {
    border-top: 1.5px solid var(--text-color);
    border-bottom: 1.5px solid var(--text-color);
    padding: 1rem 0rem;
}

.sizes > *{
    border: 1.5px solid var(--text-color);
    min-width: 1.5rem;
    min-height: .5rem;
    text-align: center;
    margin-top: 1rem;
    cursor: pointer;
}

input {
    border: none;
    width: 5rem;
}

.number > span {color: var(--secondary-color); font-size: 1.8rem; cursor: pointer;}
.number {gap: 0.2rem; border: 1.5px solid var(--secondary-color); border-radius: 5px; padding: 0px 0.8rem;}


select {
    background-color: var(--primary-color);
    text-align: center;
    color: var(--text-color);
    border-radius: 5px; 
    cursor: pointer;
    outline: 1.5px solid var(--secondary-color);
}

option {
    background-color: var(--primary-color);
}

.shopSectionName {justify-content: space-between; margin: 0rem 3rem;}

.searchGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 1rem 3rem;
    padding-top: 0.5rem;
}

.loadContainer { position: relative; }

.dots {
  display: inline-block;
  margin-left: 0.1em;
}

.load {
  display: inline-block;
  animation: load-dots 1s ease infinite alternate;
}

.dots .load:nth-child(1) { animation-delay: 0s; }
.dots .load:nth-child(2) { animation-delay: 0.1s; }
.dots .load:nth-child(3) { animation-delay: 0.2s; }

@keyframes load-dots {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-5px); }
  100% { transform: translateY(0px); }
}