.sneaker-otd {
    border: 1.5px solid var(--text-color);
    margin: 0rem 3rem;
    padding: 1rem;
}

.card {padding: 0rem 3rem 1rem 3rem;}

img {min-width: 35vw; border-radius: 10px; border: 1.5px solid var(--text-color);}

.sneaker-otd-image {
    border-radius: 10px;
    padding: 0px;
    position: relative;
}
.sneaker-otd-image::after{
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(20px, 20px);
    border-radius: 10px;
    z-index: -1;
    border: 1.5px solid var(--text-color);
}

.card-text {
    align-self: flex-start;
    align-items: flex-start;
}

.more-info-cards{
    margin: 3rem;
    align-items: stretch;
}

.more-info {
    background-color: var(--secondary-color);
    border: 1.5px solid var(--text-color);
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    align-items: flex-start;
    gap: 0.1rem;
}

.learn-more {
    text-decoration: dotted underline;
}

.learn-more:hover {
    text-decoration: solid underline;
}

.more-info::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--secondary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    z-index: -1;
    border: 1.5px solid var(--text-color);
}