.sotdSkeleton {
    min-height: 80vh;
    border: 1.5px solid var(--text-color);
    margin: 1rem 3rem;
    padding: 1rem 2rem 2rem 2rem;
    display: grid;
    grid-template-rows: 1.5rem max-content;
    grid-template-columns: 60% calc(40% - 2rem);
    gap: 1rem;
    column-gap: 2rem;
    background-color: var(--primary-color);
}

.sotdSkeleton > * {
    width: 100%;
    height: 100%;
}

.sotdSkeleton > h5 {
    grid-column: span 2;
    justify-content: center;}

.bigText {
    width: 100%;
    height: 2rem;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid var(--text-color);
    position: relative;
    overflow: hidden;
}

.paraText {
    width: 100%;
    position: relative;
    overflow: hidden;
    align-items: flex-start
}

.paraText > span {
    width: 100%;
    height: 1rem;
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 2px solid var(--text-color);
    position: relative;
    overflow: hidden;
}

div.paraText > span:last-child {
  width: 60%;
}

.sotdSkeletonTextAndImgContainer {
    justify-content: space-between;
    align-items: stretch;
}

.sotdImage {
    grid-column: 2;
    border: 2px solid var(--text-color);
    border-radius: 15px;
    position: relative;
    box-shadow: 15px 15px var(--secondary-color), 15px 15px 0px 1.5px var(--text-color);
    overflow: hidden;
}

.sotdSkeletonTextBox {
    align-items: flex-start;
}

.bigText::after, .paraText > span::after, .sotdImage::before, .cardImg::after {
  content: '';
  position: absolute;
  top: 50%; left: 50%;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent 0%,
    rgba(200,200,200,0.2) 40%,
    rgba(200,200,200,0.3) 50%,
    rgba(200,200,200,0.2) 60%,
    transparent 100%
  );
  transform: translate(-100%, -50%);
  z-index: 1;
  pointer-events: none;
    animation: skeleton-shimmer 3s ease 0s infinite;
}

@keyframes skeleton-shimmer {
  100% {
    transform: translate(100%, -50%);
  }
}

.skeletonShopCard {
    border: 2px solid var(--text-color);
    border-radius: 15px;
    min-width: 20rem;
}

.cardImg{
    width: 100%;
    height: 10rem;
    border-bottom: 2px solid var(--text-color);
    overflow: hidden;
    position: relative;
}

.shopCardInfo{
    padding: 1rem;
    gap: 2rem;
}

.shopCardName {
    width: 300%;
    align-items: flex-start;
}

.shopCardName >div:nth-last-child(1) {
    width: 60%;
}