nav {
    justify-content: space-between;
    padding: 1.5rem 3rem;
    height: auto;
}

.shopping-cart-icon {
    width: 1.75rem;
    aspect-ratio: 1/1;
}

.searchbox {
    flex-grow: 2;
    background-color: var(--primary-color);
    border: 1.5px solid var(--secondary-color);
    border-radius: 5px;
    padding: 0.2rem ;
    text-align: center;
    animation: expand 0.2s ease-in 0s 1 forwards;
}

.search {
    outline: none; 
    border: none;
    background-color: var(--primary-color);
    text-align: center;
    color: var(--text-color);
    width: calc(100% - 0.5rem - 1.5rem);
}

.close-search {
    float: right;
    padding-right: 0.5rem;
}

.cart {
    position: relative;
}

.cart::after {
    content: '10';
    text-align: center;
    width: 100%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 10;
    transform-origin: top right;
    transform: scale(0.5);
    border-radius: 50%;
    background-color: var(--accent-color);
    font-weight: 600;
}

.theme {
    transform: scale(1.2);
    transition: transform 0.3s;
}

html.dark .theme:hover {
    animation: shake 0.5s ease-in 0s 1;
    transform: scale(1.4);
}

html .theme:hover {
    transform: scale(1.4) rotate(360deg);
}

@keyframes shake {
    25% {
        transform: scale(1.4) rotate(-30deg);
    }
    75% {
        transform: scale(1.4) rotate(30deg);
    }
}

.name-and-logo {
    gap: 0.5rem;
}